.slider {
  position: relative;
  width: 1290px;
  height: 700px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

  .event_title {
    margin-top: 120px;
    margin-bottom: 40px;
    font-size: 16px;
    letter-spacing: 8px;
    color: black;
    font-weight: bold;
  }

  .slider_list {
    position: relative;

    .slider_content {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      overflow-x: visible;
      transform: translateX(0);
      transition-duration: 0.5s;
    }
  }

  .slider_btn {
    position: absolute;
    right: 0;
    top: 125px;
  }
}
