.searchWrapper {
  padding: 0px 70px;
  label {
    margin-right: 10px;
  }
}
.searchFirstRow {
  padding: 10px 0;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  button {
    border: none;
  }
  .reset {
    color: black;
    padding: 13px;
    border-radius: 3px;
    border: 1px solid #efefef;
    background-color: white;
  }
  .checkInOut {
    position: relative;
    right: 220px;
    display: flex;
    align-items: center;
    input {
      width: 200px;
      text-align: center;
      &:focus {
        outline: none;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.searchLoc {
  width: 200px;
  font-size: 15px;
  &:focus {
    outline: none;
  }
}
.toggleModal {
  margin-left: 10px;
  width: 140px;
  height: 42px;
  border-radius: 10px;
  text-align: start;
  padding-left: 20px;
  font-size: 17px;
}
.searchInput {
  display: block;
  margin: 70px auto;
  border: none;
  background-color: #f5f5f5;
  width: 500px;
  padding: 20px 60px;
  border-radius: 20px;
  font-size: 17px;
  ::placeholder {
    color: #bbbbbb;
  }
  &:focus {
    outline: none;
  }
}
.searchIcon {
  position: absolute;
  top: 204px;
  left: 130px;
  font-size: 20px;
  color: #bbbbbb;
}
.regionList {
  ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    li {
      padding: 10px 20px;
      border-radius: 20px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.selected {
  background-color: black;
  color: white;
  box-shadow: 5px 5px 15px 5px #c2c2c2;
}
.searchSecondRow {
  display: flex;
  position: relative;
  padding: 15px 0;
  border-bottom: 1px solid #e8e8e8;
  div {
    font-size: 14px;
  }
}
.inputs {
  position: relative;
  width: 200px;
  border: 1px solid #e8e8e8;
  padding: 10px 8px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 15px;
  &:hover {
    cursor: pointer;
  }
}
.chevronDown {
  font-size: 12px;
  position: absolute;
  top: 13px;
  right: 15px;
}

.menuWrapper {
  border: 1px solid #e8e8e8;
}
