.findHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 70px 70px 0px 70px;
  padding-bottom: 70px;
  border-bottom: 3px solid black;
  h1 {
    font-size: 25px;
    letter-spacing: 0.6rem;
    margin-bottom: 15px;
  }
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px 80px;
  border-bottom: 1px solid #e8e8e8;
  margin: 60px 70px 0px 70px;
}
.pageMove {
  display: flex;
  justify-content: center;
  align-items: center;
}
