.headerImg {
  width: 100%;
  position: relative;
  text-align: center;
  margin: 0 auto;
  height: 650px;
  overflow: hidden;
  button {
    border: none;
    cursor: pointer;
    width: 100vh;
  }

  .slideBox {
    width: 100vh;
    height: 650px;
    display: flex;
  }
  .btn1 {
    position: absolute;
    width: 50px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15px 20px 15px 20px;
    left: 0;
    top: 50%;
    &:hover {
      transition: all 0.3s ease-in-out;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
  .btn2 {
    position: absolute;
    width: 50px;

    right: 0;
    top: 50%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px 20px 15px 20px;
    &:hover {
      transition: all 0.3s ease-in-out;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  .headercontents {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 5%;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: auto;
    width: 90%;
    height: 80px;
    color: white;

    span {
      margin-right: 40px;
    }
    .nameInHeader {
      display: flex;
      height: 100%;
      border-left: 1px solid white;
      width: 15%;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      font-weight: 700;
    }
  }
}
