button {
  border: none;
  cursor: pointer;
  // width: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .accoName {
    margin-top: 60px;
    font-size: 20px;
    padding: 30px;
  }
  .centerLine {
    height: 60px;
    margin-right: auto;
    width: 50%;
    border-right: 1px solid black;
  }
  .content {
    width: 60%;
    padding: 30px;
  }

  .address {
    margin-top: 60px;

    padding: 30px;
  }
  .map {
    margin-top: 40px;
    width: 100%;
    height: 400px;
  }
}
