.Prev {
  z-index: 3;
  background: none;
  border: none;
  color: white;
  &:hover {
    cursor: pointer;
  }
}

.Next {
  z-index: 3;
  border: none;
  background: none;
  color: white;
  &:hover {
    cursor: pointer;
  }
}

.left_bracket {
  color: rgb(87, 84, 84);
  font-size: 20px;
  opacity: 1;
}

.right_bracket {
  color: rgb(87, 84, 84);
  font-size: 20px;
  opacity: 1;
}
